<!DOCTYPE HTML>
{%block head%}
<head>
  <title> What's the Weather? </title>

  {%block scripts%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//cdn.bootcss.com/dropzone/5.1.1/min/dropzone.min.css" type="text/css">
  <link rel="stylesheet" href="static/styles.css">
  <script src="//cdn.bootcss.com/dropzone/5.1.1/min/dropzone.min.js"></script>
  <script>
      //custom dropzone load options and javascript
      Dropzone.options.myDropzone = {
      init: function() {

        var submitButton = Dropzone.createElement("<a href={{url_for('prediction')}} id='submit-btn' class='btn btn-default' style='position:absolute; top:50%; left: 47%; border-radius:4px;'>Submit</a>");
        // var submitButton = Dropzone.createElement("<button id= 'submit-btn' class='btn btn-default' disabled style='position:absolute; top:50%; left: 47%; border-radius:4px;'>Submit</button>");
    
        submitButton.addEventListener("click", function() {
          //if (!$('#submit-btn').is(':disabled')){
            myDropzone.processQueue(); 
          //}
        });
        document.getElementById("myDropzone").appendChild(submitButton);

        this.on("addedfile", function(file) { 

          var removeButton = Dropzone.createElement("<button type='button' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span> Remove </button>");
          // Capture the Dropzone instance as closure.
          var _this = this;

          // Listen to the click eventglyphicon glyphicon-remove
          removeButton.addEventListener("click", function(e) {
            // Make sure the button click doesn't submit the form:
            e.preventDefault();
            e.stopPropagation();

            // Remove the file preview.
            _this.removeFile(file);
            //$('#submit-btn').prop('disabled', true);
          });
          // Add the button to the file preview element.
          file.previewElement.appendChild(removeButton);
          //$('#submit-btn').prop('disabled', false);

        });

        //for instant redirect
        // this.on("success", function () {
        //   if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
        //       window.location= "/prediction";
        //   }
        // });

      },
      paramName: "file", // The name that will be used to transfer the file
      maxFilesize: 3, // MB
      acceptedFiles: "image/*",
      maxFiles: 1,
      dictDefaultMessage: "Drag and drop image of English Bay here, or click to select from files. Sample images are available here: https://github.com/selh/EnglishBayImageAnalysis/tree/master/sample-imgs",
      dictFallbackMessage: "Drag and drop image here, or click to select from files",
      dictInvalidFileType: "Invalid File type",
      dictFileTooBig: "File exceeds maximum allowable size of 3MB",
      dictResponseError: "An error occured",
      dictMaxFilesExceeded: "You may only upload one image file",
      accept: function(file, done){
        reader = new FileReader();
        reader.onload = handleReaderLoad;
        reader.readAsDataURL(file);
        function handleReaderLoad(evt) {
            sessionStorage.setItem("img", evt.target.result);
        }
        done();
      },
    };

    $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });

  </script>
  {%endblock%}
  
  {{ dropzone.style('border: 2px dashed #FF3B3F; border-radius:10px; margin: 10%; min-height: 400px; background-color:#F4F4F4;') }}

  {%block navbar%}
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><span class="glyphicon glyphicon-sunglasses"></span></div>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/"> Home </a></li>
        <li class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notebooks 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/weather">Weather Trends</a></li>
            <li><a href="/models">Model Comparison</a></li>
          </ul>
        </li>
        <li><a href="/sample"> Use Pre-loaded Sample Image </a></li>
      </ul>
    </div>
  </div>
  {%endblock%}

</head>
{%endblock%}
